<?xml version="1.0"?>
<!--
  Copyright CWSPS154. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="CWSPS154_SalesOrderReports::main_menu" title="CWSPS154 Sales Order Reports"
                          sortOrder="10">
                    <resource id="CWSPS154_SalesOrderReports::report" title="Report" sortOrder="20">
                        <resource id="CWSPS154_SalesOrderReports::config" title="Sales Order Reports Config"
                                  sortOrder="20"/>
                        <resource id="CWSPS154_SalesOrderReports::sales_order_reports" title="Sales Order Reports"
                                  sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
