<?xml version="1.0"?>
<!--
  Copyright CWSPS154. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Block\Dashboard\Grids"
                type="CWSPS154\SalesOrderReports\Block\Adminhtml\Dashboard\Grids"/>
</config>
