<?xml version="1.0"?>
<!--
  Copyright CWSPS154. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="salesorderreport" frontName="sales_order_report">
            <module name="CWSPS154_SalesOrderReports" before="Magento_Backend"/>
        </route>
    </router>
</config>
